@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(236, 72, 67);
}

h2 {
  color: white;
}


img:hover {
  filter: none;
}

a {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
}

.portrait {
  padding: 1%;
}

h3 {padding-top: 2%;
padding-left: 3%;
padding-right: 15%;}

h4 {padding: 1%;
  padding-left: 3%;}

p{padding-left: 70%;}